@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&display=swap");
@import "tailwindcss";

.plus_jakarta_font {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.lobster_font {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bg_wallpaper {
  background-image: url("../public/download.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 1000px;
  height: 1000px;
}

.bodini_font {
  font-family: "Libre Bodoni", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.bg_phone_wallpaper {
  background-image: url("../public/new1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 80vh;
}

.hero_wall {
  background-image: url("../public/hero_wall.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}

.stats_wall {
  background-image: url("../public/stats_wall.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}

@media (max-width: 1024px) {
  .hero_wall {
    padding: 60px;
    min-height: 60vh;
  }
}

@media (max-width: 640px) {
  .hero_wall {
    padding: 30px;
    min-height: 50vh;
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #3aa456;
  border: 2px solid #3aa456;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
